.DS_Store
.idea/
notebooks/test-*
notebooks/.ipynb_checkpoints/
../profiler/*
../.DS_Store
model_platform/model/anomaly/event_model
utils/__pycache__/*
utils/logging/__pycache__/*
*.pyc
utils/__pycache__/
.ipynb_checkpoints